/.built-in.o.cmd
/.msm_hdmi_codec_rx.o.cmd
/.msm_stub.o.cmd
/.snd-soc-msm-stub.o.cmd
/.snd-soc-wcd9320.o.cmd
/.wcd9320-tables.o.cmd
/.wcd9320.o.cmd
/.wcd9xxx-common.o.cmd
/.wcd9xxx-mbhc.o.cmd
/.wcd9xxx-resmgr.o.cmd
/.wcdcal-hwdep.o.cmd
/built-in.o
/modules.order
/msm_hdmi_codec_rx.o
/msm_stub.o
/snd-soc-msm-stub.o
/snd-soc-wcd9320.o
/wcd9320-tables.o
/wcd9320.o
/wcd9xxx-common.o
/wcd9xxx-mbhc.o
/wcd9xxx-resmgr.o
/wcdcal-hwdep.o
