/.built-in.o.cmd
/.calibrate.o.cmd
/.do_mounts.o.cmd
/.do_mounts_initrd.o.cmd
/.do_mounts_rd.o.cmd
/.initramfs.o.cmd
/.main.o.cmd
/.mounts.o.cmd
/.version.o.cmd
/built-in.o
/calibrate.o
/do_mounts.o
/do_mounts_initrd.o
/do_mounts_rd.o
/initramfs.o
/main.o
/modules.order
/mounts.o
/version.o
