/.built-in.o.cmd
/.cfbcopyarea.o.cmd
/.cfbfillrect.o.cmd
/.cfbimgblt.o.cmd
/.fb.o.cmd
/.fb_notify.o.cmd
/.fbcmap.o.cmd
/.fbcvt.o.cmd
/.fbmem.o.cmd
/.fbmon.o.cmd
/.fbsysfs.o.cmd
/.modedb.o.cmd
/built-in.o
/cfbcopyarea.o
/cfbfillrect.o
/cfbimgblt.o
/fb.o
/fb_notify.o
/fbcmap.o
/fbcvt.o
/fbmem.o
/fbmon.o
/fbsysfs.o
/modedb.o
/modules.order
