/.buffer_sync.o.cmd
/.cpu_buffer.o.cmd
/.event_buffer.o.cmd
/.oprof.o.cmd
/.oprofile_files.o.cmd
/.oprofile_perf.o.cmd
/.oprofile_stats.o.cmd
/.oprofilefs.o.cmd
/.timer_int.o.cmd
/buffer_sync.o
/cpu_buffer.o
/event_buffer.o
/oprof.o
/oprofile_files.o
/oprofile_perf.o
/oprofile_stats.o
/oprofilefs.o
/timer_int.o
