/..tmp_kallsyms1.o.cmd
/..tmp_kallsyms2.o.cmd
/..tmp_vmlinux1.cmd
/..tmp_vmlinux2.cmd
/.config
/.missing-syscalls.d
/.tmp_System.map
/.tmp_kallsyms1.S
/.tmp_kallsyms1.o
/.tmp_kallsyms2.S
/.tmp_kallsyms2.o
/.tmp_vmlinux1
/.tmp_vmlinux2
/.version
/.vmlinux.cmd
/.vmlinux.o.cmd
/Module.symvers
/System.map
/modules.order
/vmlinux
/vmlinux.o
