/.address.o.cmd
/.base.o.cmd
/.built-in.o.cmd
/.device.o.cmd
/.fdt.o.cmd
/.gpio.o.cmd
/.irq.o.cmd
/.of_batterydata.o.cmd
/.of_i2c.o.cmd
/.of_net.o.cmd
/.of_slimbus.o.cmd
/.of_spi.o.cmd
/.of_spmi.o.cmd
/.platform.o.cmd
/address.o
/base.o
/built-in.o
/device.o
/fdt.o
/gpio.o
/irq.o
/modules.order
/of_batterydata.o
/of_i2c.o
/of_net.o
/of_slimbus.o
/of_spi.o
/of_spmi.o
/platform.o
