/.adreno_idler.o.cmd
/.built-in.o.cmd
/.devfreq.o.cmd
/.governor_cpubw_hwmon.o.cmd
/.governor_msm_adreno_tz.o.cmd
/.governor_msm_cpufreq.o.cmd
/.governor_performance.o.cmd
/.governor_powersave.o.cmd
/.governor_simpleondemand.o.cmd
/.governor_userspace.o.cmd
/adreno_idler.o
/built-in.o
/devfreq.o
/governor_cpubw_hwmon.o
/governor_msm_adreno_tz.o
/governor_msm_cpufreq.o
/governor_performance.o
/governor_powersave.o
/governor_simpleondemand.o
/governor_userspace.o
/modules.order
