/.built-in.o.cmd
/.fsa9485.o.cmd
/.qpnp-misc.o.cmd
/.qseecom.o.cmd
/.sec_jack.o.cmd
/.sec_misc.o.cmd
/.sec_param.o.cmd
/.ti_drv2667.o.cmd
/.tzic.o.cmd
/.uid_stat.o.cmd
/built-in.o
/fsa9485.o
/modules.order
/qpnp-misc.o
/qseecom.o
/sec_jack.o
/sec_misc.o
/sec_param.o
/ti_drv2667.o
/tzic.o
/uid_stat.o
