/.built-in.o.cmd
/.entry.o.cmd
/.vfp.o.cmd
/.vfpdouble.o.cmd
/.vfphw.o.cmd
/.vfpmodule.o.cmd
/.vfpsingle.o.cmd
/built-in.o
/entry.o
/modules.order
/vfp.o
/vfpdouble.o
/vfphw.o
/vfpmodule.o
/vfpsingle.o
