/.elfconfig.h.cmd
/.empty.o.cmd
/.file2alias.o.cmd
/.mk_elfconfig.cmd
/.modpost.cmd
/.modpost.o.cmd
/.sumversion.o.cmd
/elfconfig.h
/empty.o
/file2alias.o
/mk_elfconfig
/modpost
/modpost.o
/modules.order
/sumversion.o
