/.alps.o.cmd
/.built-in.o.cmd
/.logips2pp.o.cmd
/.psmouse-base.o.cmd
/.psmouse.o.cmd
/.synaptics.o.cmd
/.trackpoint.o.cmd
/alps.o
/built-in.o
/logips2pp.o
/modules.order
/psmouse-base.o
/psmouse.o
/synaptics.o
/trackpoint.o
