/.built-in.o.cmd
/.snd-soc-core.o.cmd
/.soc-cache.o.cmd
/.soc-compress.o.cmd
/.soc-core.o.cmd
/.soc-dapm.o.cmd
/.soc-io.o.cmd
/.soc-jack.o.cmd
/.soc-pcm.o.cmd
/.soc-utils.o.cmd
/built-in.o
/modules.order
/snd-soc-core.o
/soc-cache.o
/soc-compress.o
/soc-core.o
/soc-dapm.o
/soc-io.o
/soc-jack.o
/soc-pcm.o
/soc-utils.o
