/.avtab.o.cmd
/.conditional.o.cmd
/.ebitmap.o.cmd
/.hashtab.o.cmd
/.mls.o.cmd
/.policydb.o.cmd
/.services.o.cmd
/.sidtab.o.cmd
/.status.o.cmd
/.symtab.o.cmd
/avtab.o
/conditional.o
/ebitmap.o
/hashtab.o
/mls.o
/policydb.o
/services.o
/sidtab.o
/status.o
/symtab.o
