/.Image.cmd
/.msm8974-sec-lt03-r00.dtb.cmd
/.msm8974-sec-lt03-r05.dtb.cmd
/.msm8974-sec-lt03-r07.dtb.cmd
/.zImage.cmd
/Image
/msm8974-sec-lt03-r00.dtb
/msm8974-sec-lt03-r05.dtb
/msm8974-sec-lt03-r07.dtb
/zImage
