/.built-in.o.cmd
/.qpnp-int.o.cmd
/.spmi-dbgfs.o.cmd
/.spmi-pmic-arb.o.cmd
/.spmi-resources.o.cmd
/.spmi.o.cmd
/built-in.o
/modules.order
/qpnp-int.o
/spmi-dbgfs.o
/spmi-pmic-arb.o
/spmi-resources.o
/spmi.o
