/.backing-dev.o.cmd
/.bootmem.o.cmd
/.bounce.o.cmd
/.built-in.o.cmd
/.compaction.o.cmd
/.dmapool.o.cmd
/.fadvise.o.cmd
/.filemap.o.cmd
/.fremap.o.cmd
/.frontswap.o.cmd
/.highmem.o.cmd
/.init-mm.o.cmd
/.maccess.o.cmd
/.madvise.o.cmd
/.memblock.o.cmd
/.memory.o.cmd
/.mempool.o.cmd
/.migrate.o.cmd
/.mincore.o.cmd
/.mlock.o.cmd
/.mm_init.o.cmd
/.mmap.o.cmd
/.mmu_context.o.cmd
/.mmzone.o.cmd
/.mprotect.o.cmd
/.mremap.o.cmd
/.msync.o.cmd
/.oom_kill.o.cmd
/.page-writeback.o.cmd
/.page_alloc.o.cmd
/.page_io.o.cmd
/.page_isolation.o.cmd
/.pagewalk.o.cmd
/.percpu.o.cmd
/.pgtable-generic.o.cmd
/.prio_tree.o.cmd
/.process_vm_access.o.cmd
/.readahead.o.cmd
/.rmap.o.cmd
/.shmem.o.cmd
/.slub.o.cmd
/.swap.o.cmd
/.swap_state.o.cmd
/.swapfile.o.cmd
/.truncate.o.cmd
/.util.o.cmd
/.vmalloc.o.cmd
/.vmscan.o.cmd
/.vmstat.o.cmd
/.zsmalloc.o.cmd
/.zswap.o.cmd
/backing-dev.o
/bootmem.o
/bounce.o
/built-in.o
/compaction.o
/dmapool.o
/fadvise.o
/filemap.o
/fremap.o
/frontswap.o
/highmem.o
/init-mm.o
/maccess.o
/madvise.o
/memblock.o
/memory.o
/mempool.o
/migrate.o
/mincore.o
/mlock.o
/mm_init.o
/mmap.o
/mmu_context.o
/mmzone.o
/modules.order
/mprotect.o
/mremap.o
/msync.o
/oom_kill.o
/page-writeback.o
/page_alloc.o
/page_io.o
/page_isolation.o
/pagewalk.o
/percpu.o
/pgtable-generic.o
/prio_tree.o
/process_vm_access.o
/readahead.o
/rmap.o
/shmem.o
/slub.o
/swap.o
/swap_state.o
/swapfile.o
/truncate.o
/util.o
/vmalloc.o
/vmscan.o
/vmstat.o
/zsmalloc.o
/zswap.o
