/.apq8074.o.cmd
/.built-in.o.cmd
/.msm-dai-fe.o.cmd
/.msm-pcm-hostless.o.cmd
/.msm8974.o.cmd
/.snd-soc-apq8074.o.cmd
/.snd-soc-hostless-pcm.o.cmd
/.snd-soc-msm8974.o.cmd
/.snd-soc-qdsp6v2.o.cmd
/apq8074.o
/built-in.o
/modules.order
/msm-dai-fe.o
/msm-pcm-hostless.o
/msm8974.o
/snd-soc-apq8074.o
/snd-soc-hostless-pcm.o
/snd-soc-msm8974.o
/snd-soc-qdsp6v2.o
