/.built-in.o.cmd
/.cpu-boost.o.cmd
/.cpufreq.o.cmd
/.cpufreq_conservative.o.cmd
/.cpufreq_interactive.o.cmd
/.cpufreq_ondemand.o.cmd
/.cpufreq_performance.o.cmd
/.cpufreq_powersave.o.cmd
/.cpufreq_stats.o.cmd
/.cpufreq_userspace.o.cmd
/.freq_table.o.cmd
/built-in.o
/cpu-boost.o
/cpufreq.o
/cpufreq_conservative.o
/cpufreq_interactive.o
/cpufreq_ondemand.o
/cpufreq_performance.o
/cpufreq_powersave.o
/cpufreq_stats.o
/cpufreq_userspace.o
/freq_table.o
/modules.order
