/.checks.o.cmd
/.data.o.cmd
/.dtc-lexer.lex.o.cmd
/.dtc-parser.tab.o.cmd
/.dtc.cmd
/.dtc.o.cmd
/.flattree.o.cmd
/.fstree.o.cmd
/.livetree.o.cmd
/.srcpos.o.cmd
/.treesource.o.cmd
/.util.o.cmd
/checks.o
/data.o
/dtc
/dtc-lexer.lex.c
/dtc-lexer.lex.o
/dtc-parser.tab.c
/dtc-parser.tab.h
/dtc-parser.tab.o
/dtc.o
/flattree.o
/fstree.o
/livetree.o
/modules.order
/srcpos.o
/treesource.o
/util.o
