/.built-in.o.cmd
/.consolemap.o.cmd
/.consolemap_deftbl.o.cmd
/.defkeymap.o.cmd
/.keyboard.o.cmd
/.selection.o.cmd
/.vc_screen.o.cmd
/.vt.o.cmd
/.vt_ioctl.o.cmd
/built-in.o
/consolemap.o
/consolemap_deftbl.c
/consolemap_deftbl.o
/defkeymap.c
/defkeymap.o
/keyboard.o
/modules.order
/selection.o
/vc_screen.o
/vt.o
/vt_ioctl.o
