/.built-in.o.cmd
/.ipc_sysctl.o.cmd
/.ipcns_notifier.o.cmd
/.msg.o.cmd
/.msgutil.o.cmd
/.sem.o.cmd
/.shm.o.cmd
/.syscall.o.cmd
/.util.o.cmd
/built-in.o
/ipc_sysctl.o
/ipcns_notifier.o
/modules.order
/msg.o
/msgutil.o
/sem.o
/shm.o
/syscall.o
/util.o
