/.autosleep.o.cmd
/.built-in.o.cmd
/.main.o.cmd
/.poweroff.o.cmd
/.powersuspend.o.cmd
/.process.o.cmd
/.qos.o.cmd
/.suspend.o.cmd
/.wakelock.o.cmd
/.wakeup_reason.o.cmd
/autosleep.o
/built-in.o
/main.o
/modules.order
/poweroff.o
/powersuspend.o
/process.o
/qos.o
/suspend.o
/wakelock.o
/wakeup_reason.o
