/.built-in.o.cmd
/.evdev.o.cmd
/.ff-core.o.cmd
/.ff-memless.o.cmd
/.input-compat.o.cmd
/.input-core.o.cmd
/.input-mt.o.cmd
/.input.o.cmd
/.mousedev.o.cmd
/built-in.o
/evdev.o
/ff-core.o
/ff-memless.o
/input-compat.o
/input-core.o
/input-mt.o
/input.o
/modules.order
/mousedev.o
