/.built-in.o.cmd
/.card.o.cmd
/.clock.o.cmd
/.endpoint.o.cmd
/.format.o.cmd
/.helper.o.cmd
/.midi.o.cmd
/.mixer.o.cmd
/.mixer_quirks.o.cmd
/.pcm.o.cmd
/.proc.o.cmd
/.quirks.o.cmd
/.snd-usb-audio.o.cmd
/.snd-usbmidi-lib.o.cmd
/.stream.o.cmd
/built-in.o
/card.o
/clock.o
/endpoint.o
/format.o
/helper.o
/midi.o
/mixer.o
/mixer_quirks.o
/modules.order
/pcm.o
/proc.o
/quirks.o
/snd-usb-audio.o
/snd-usbmidi-lib.o
/stream.o
